body {
  font-family: Oswald !important;
  background: rgba(0, 0, 0, 0.6);
}

.Signin-sec {
  padding: 0;
  font-family: Oswald;
}

.signin-inner {
  margin-top: 18em;
}

.sign-bgcolor {
  background: #222222;
  width: 100%;
  padding: 45px 50px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  display: inline-block;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.input-fields {
  font-family: Oswald !important;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color: #ffffff;
  border-bottom: 1px solid #585d72;
  padding-left: 3px;
}

.forgot-link {
  font-size: 14px;
  color: #8a8e9c;
  float: right;
}

.Username-wrap {
  margin-bottom: 45px;
}

.user-alert {
  color: #ff0000;
  display: inline-block;
  width: 100%;
  text-align: left;
  line-height: 27px;
  ;
}

.signin-btn{
  background: #f3db14;
  padding: 15px 70px;
  margin-top: 25px;
  border: none;
  outline: none;
  color: #000000;
  border-radius: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
}
#User_List h2{width:auto !important;}
.addnew-btn {
  background: #f3db14;
  padding: 15px 70px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  color: #000000;
  border-radius: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
}
.apply-btn{background: #f3db14;
    padding: 8px 31px;
    border: none;
    outline: none;
    color: #000000;
    border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    margin-top: 58px;
    margin-left: 15px;}
.login-center {
  background: url("../images/frontpage-bg.jpg");
}
.user-static{color: #f3db14;
    font-size: 18px;
    display: inline-block;
    font-weight: 300;
    text-align: left;
    line-height: 36px;
    margin: 15px 0;}
.userprof2 .adm_inputs_wrap{margin:0;}
.userprof2 .adm_inputs_wrap label,.userprof2 .adm_inputs_wrap .user-static{    margin: 5px 0 !important;}
.form-control{height: auto !important;}
.user-list-header .adm_inputs_wrap .drop_down{padding: 0 5px;}
.user-list-header .adm_inputs_wrap label{width: 100%;display: inline-block;width: 100%;}
.bg-cls,
.signin-btn:hover,.addnew-btn:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#195fbf+0,1071dd+100 */
  background: #f3db14;
  /* Old browsers */
  background: -moz-linear-gradient(left, #f3db14 0%, #ebb511 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f3db14 0%, #ebb511 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f3db14 0%, #ebb511 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3db14', endColorstr='#ebb511', GradientType=1);
  /* IE6-9 */
}
.user-profile_container{
      display: inline-block;
    width: 100%;
    padding: 20px 0;
}
.display-student{display: inline-block !important;    width: 100%;}
.display-student .form-group{width:90%;}
.user-pro-pic{position: relative;}
.user-pro-pic a{position: absolute;
    color: #ffffff;
    bottom: 6px;
    right: 9px;
    font-size: 16px;
    background: rgba(0,0,0,0.4);
    padding: 4px;
    width: 92%;
    margin: 0;
    left: 6px;}
 .user-profile_container .date{ color: #ffffff;   line-height: 51px;
    padding: 15px 0;}
.signin-btn:active {
  background: #ebb511;
}

.footer-copyright {
  color: #ffffff;
  margin-top: 10px;
  font-weight: 200;
}

.Option_cls {
  font-size: 18px;
  color: #fff;
  display: inline-block;
  text-align: left;
  line-height: 48px;
  margin-left: -50px;
}
.Option_right{
  margin-left:20px;}
input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #8a8e9c;
}
.table-striped>tbody>tr:nth-of-type(odd){
  background: #ffffff;
}
.table-striped>tbody>tr:nth-of-type(even){
  background: rgba(0, 0, 0, 0.3);
  color: #ffffff;
}
.right_wrap1 .user_table_accord label.checkbox-inline{ color: #8a8e9c;    font-size: 16px;margin:0;width: 100%;    color: #363636;}
.right_wrap1 .user_table_accord label.checkbox-inline input{margin-top: 10px;}
#table-search-input input{border-radius:30px;-moz-border-radius:30px;-webkit-border-radius:30px;}
.user_table_accord h3{color: #ffffff;
    font-size: 18px;
    display: inline-block;
    width: 100%;
    text-align: left;
    line-height: 40px;
    font-weight: 300;
    letter-spacing: 3px;}
#table-search-input .input-group{margin-bottom: 10px;}
#table-search-input .input-group-btn{z-index: 999;}
#table-search-input .input-group .btn-info{background: #f3db14;    border-color: #f3db14;margin-left: -30px;border-radius: 0px 30px 30px 0px;-moz-border-radius: 0px 30px 30px 0px;-webkit-border-radius: 0px 30px 30px 0px;}
.user_table_accord .panel-group{margin:0;padding:0;text-align: left;}
.user_table_accord .panel.panel-default{border-radius: 0;-moz-border-radius: 0;-webkit-border-radius: 0;}
.user-table .sub-table .table{margin:0;}
.sub-table{padding: 0 !important;}
.user-table th{text-align: center;background: #f3db14;}
.sub-table table{background: transparent !important;}
.sub-table table tr,.sub-table table td{background: transparent !important;}
.sub-table table td a{color: inherit;}
.sub-table table td a:hover{color:#f3db14;}
.right_wrap1 .tab-content .user-table tr td label{margin:0;line-height: 0;}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #8a8e9c;
}

input:-ms-input-placeholder {
  /* IE 10+ */
  color: #8a8e9c;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #8a8e9c;
}

.Signin-sec::before {
  width: 213px;
  height: 314px;
  background: url(../images/pen.jpg);
  content: "";
  position: absolute;
  left: 0;
}

.Signin-sec::after {
  width: 300px;
  height: 637px;
  background: url(../images/tab-right.png);
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}

.bg-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
}


/*.main_bg{background:url("../images/dashbaord_bg2.jpg");}*/


/* student dashboard css starts here */

.stu_header {
  padding: 45px 0;
}

.stuhead_wel_txt {
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 8px;
  text-align: right;
}

.stu_acct-wrap .fa {
  color: #ffffff;
  font-size: 20px;
}

.stu_acct-wrap .dropdown-menu {
  padding: 15px;
}

.stu_acct-wrap .dropdown-menu .dropdown-item {
  width: 100%;
  display: inline-block;
}

.stu_acct-wrap {
  text-align: right;
}

.profile-pic {
  position: absolute;
  top: -20px;
}

.stu_mid_sec {
  padding: 0;
  position: relative;
}
.logo{max-width: 100%;}
footer{
  margin-top: 50px;
}
.bg_img {
  position: absolute;
  left: 0;
  max-width: 100%;
}

.stu_sec_left {
  /*background:rgba(0,0,0,0.3);*/
  width: 100%;
  height: 835px;
  padding:40px 25px;
}

.stu_sec_right {
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 500px;
  padding: 80px 25px;
}

.stu_sec_left .nav-link {
  padding: 10px 0;
  background: none;
  margin-left: 45px;
  display: inline-block;
  font-size:18px;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  width: 100%;
}

.stu_sec_left .nav-link a,
.stu_sec_left ul {
  background-color: transparent !important;
  border: none !important;
}

.stu_sec_left .nav-link a {
  display: inline;
  padding: 0;
  color: #ffffff !important;
}

.stu_sec_left .nav-link a:hover {
 color: #f3db14 !important;
}

.stu_sec_left .nav-link.active a {
  background: none;
  letter-spacing:1px;
  color: #f3db14  !important;
}

.left_wrap1 {
  padding: 0 !important
}

.minimise_Con .left_wrap1 {
  width: 0%;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.minimise_Con .left_wrap1 .stu_sec_left {
  padding: 0%;
}

.minimise_Con .right_wrap1 {
  display: inline-block !important;
  width: 91.66666667%;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-toggle {
  outline: none;
  display: inline-block;
  float: left;
}

.slide-toggle .icon-bar {
  background: #ffffff;
}

.minimise_Con ul li a,
.minimise_Con ul li i {
  display: none !important;
}

.stu_sec_left .nav-link i {
  float: right;
}

.stu_sec_left .tog_btn i {
  background: #aa7bf6;
  right: -18px !important;
  padding: 6px;
}

.stu_tot_test {
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.right_wrap1 h2 {
  color: #f3db14 ;
  font-size: 30px;
  padding: 0 27px;
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.right_wrap1 .tab-content label,.user_body .tab-content label{
  color: #ffffff;
  font-size: 18px;
  display: inline-block;
  font-weight: 300;
  text-align: left;
     line-height: 30px;
    margin: 15px 0;
    padding: 0;
}
#View_school_tab .adm_inputs_wrap{margin: 0;}
#View_school_tab .adm_inputs_wrap label,
#View_school_tab .adm_inputs_wrap .user-static{
    margin: 5px 0 !important;
}
#User_Profile1 .nav-tabs li a{color:#ffffff;}
#User_Profile1 .nav-tabs li a:hover,#User_Profile1 .nav-tabs li.active a:hover{color:#f3db14;background: transparent;}
#User_Profile1 .nav-tabs li.active a{color:#555555;}
.custom-file-upload{display:inline-block;width: 100%;    margin: 10px 0;}
.custom-file-upload input[type="file"] {
    display: none;
}
.custom-file-upload .custom-file-upload-label {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.custom-table{    margin: 50px 0;}
.custom-table table th,.custom-table table td{text-align: left;color: #ffffff;}
.adm_checkbox .stu_inn_checker .checkbox-inline{width:20%;}
.adm_checkbox .stu_inn_checker {padding:20px 50px;
    background: rgba(0,0,0,0.3);border-radius: 60px;-moz-border-radius: 60px;-webkit-border-radius: 60px;}
.right_wrap1 .tab-content .adm_inputs_wrap .text_filed {
  width: 100%;
}

.right_wrap1 .tab-content .alert_text {
  color: #8B0000;
  text-align: left;
  padding: 5px;
}

input,.right_wrap1 .tab-content .adm_inputs_wrap input,
.right_wrap1 .tab-content .adm_inputs_wrap .text_filed {
  color: #e6af08;
  border: none;
  outline: none;
  padding: 10px 20px;
  line-height: 2;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}
.padding0{padding: 0;}
.seperator{    display: inline-block;
    width:60px;
    float: left;
    line-height: 69px;
    color: #ffffff;}
    .options-wrap input{margin-top: 10px;}
.adm_inputs_wrap {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
}

.adm_inputs_wrap .dropdown {
  border: none;
  outline: none;
  padding: 10px 20px;
  line-height: 2;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}

.adm_inputs_wrap .form-group .dropdown {
  height: 45px;
}

.adm_inputs_wrap .dropdown a.dropdown-toggle {
  color: #ffffff;
}

.adm_inputs_wrap .dropdown .dropdown-menu {
  width: 100%;
  padding: 20px 0;
}

.dropdown .dropdown-menu .dropdown-item {
  padding: 0 20px;
  width: 100%;
  display: inline-block;
  line-height: 40px;
  border-bottom: 1px solid #215dba;
  color: #215dba;
}

.dropdown .dropdown-menu .dropdown-item:hover {
  background: #215dba;
  color: #ffffff;
}

.right_wrap1 .tab-content textarea,.user_body .tab-content textarea {
  color: #0078ff;
  border: none;
  outline: none;
  padding: 10px 20px;
  line-height: 2;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.adm_inputs_wrap .drop_down {
  padding: 0;
  text-align: left;
}

.mandatory {
  color: #f12459;
  font-size: 30px;
  font-weight: 500;
}

footer {
  display: inline-block;
  width: 100%;
}

footer p {
  text-align: center;
  letter-spacing: 5px;
  margin: 10px 0;
  /*background: #2171e3;*/
  padding: 5px 0;
}

.adm_checkbox .checkbox-inline input {
  margin-top: 15px;
}

.adm_checkbox .checkbox-inline {
  width: 30%;
}

/* user dashbaord css starts here */
.user_header{max-height:78px;}
.user_header,.user_body{display: inline-block;width: 100%;position: relative;}
.user_logo_head{    background: #f3db14;
    text-align: center;
    padding: 20px 0;}
.user_inp_section{background: rgba(255,255,255,0.4);padding:22.5px 20px;    display: inline-block;
    width: 100%;}
    .user_container{padding: 0;width: 100%;}
.user_container .user_inp_search{padding:5px 35px;background: transparent;color: #ffffff;width: 100%;}
.user_container .user_inner_search{width: 40%;}
.user_container .user_inner_search:before {
   font-family: FontAwesome;
    content: "\f002";
    position: absolute;
    left: 35px;
    top: 31px;
}
.user_inner_usericon{width: 20%;}
.user_inner_usericon .dropdown-menu .dropdown-item {
  width: 100%;
  display: inline-block;
}
.user_inner_usericon .dropdown-menu {
  padding: 15px;
}
.user_container .stuhead_wel_txt{font-size: 16px;letter-spacing: 0;}
.user_container .input-group-append{    margin-left: 15px;
    margin-top: 6px;}
.user_mail_setting{    padding:27.5px 20px;background:rgba(255,255,255,0.5);}
.user_notif_icon,.user_emai_icon,.user_setting_icon{padding: 0 10px; position: relative;background: none;border: none;}
.user_notif_icon:before {
  font-family: FontAwesome;
      content: "\f0a2";
      color: #fff;
    font-size: 20px;
}
.user_emai_icon:before{font-family: FontAwesome;
      content: "\f003";
      color: #fff;
    font-size: 20px;}
.user_setting_icon:before{font-family: FontAwesome;
      content:"\f013";
      color: #fff;
    font-size: 20px;}
.user_notif_number{position: absolute;}
.user_notif_number{    top: -15px;
    background: #fb5557;
    padding: 1px 9px;
    border-radius: 42px;
    color: #ffffff;
    left: 15px;}
.user_container .user_inp_search::placeholder {
    color: #ffffff;
    opacity:0.5; /* Firefox */
}
.user_body .user_body_left .nav-tabs>li{ background: #3d4a53;
    width: 100%;
    text-align: center;
    border-bottom:2px solid #333d47;}
    .user_body .user_body_left .nav-tabs>li.active{background: #2f3a40;box-shadow: inset 0px 0px 78px rgba(0,0,0,.5);-moz-box-shadow: inset 0px 0px 78px rgba(0,0,0,.5);-webkit-box-shadow: inset 0px 0px 78px rgba(0,0,0,.5);}
    .user_body .user_body_left .nav-tabs>li>a{color: #d5d6d8;padding:81px 0 30px 0;border: none;}
    .user_body .user_body_left .nav-tabs>li>a:hover{background: none;border: transparent;}
    .user_body .user_body_left .nav-tabs>li.active a{background: none;border: none;border-left:5px solid red;}
    .user_body .user_body_left .nav-tabs>li.one:before{font-family: FontAwesome;
    content:"\f015";
    color: #fff;
    font-size: 48px;
    position: absolute;
    left: 83px;
    top: 13px;}
     .user_body .user_body_left .nav-tabs>li.two:before{font-family: FontAwesome;
    content:"\f003";
    color: #fff;
    font-size: 48px;
    position: absolute;
    left: 83px;
    top: 13px;}
     .user_body .user_body_left .nav-tabs>li.three:before{font-family: FontAwesome;
    content:"\f007";
    color: #fff;
    font-size: 48px;
    position: absolute;
    left: 83px;
    top: 13px;}
     .user_body .user_body_left .nav-tabs>li.four:before{font-family: FontAwesome;
    content:"\f021";
    color: #fff;
    font-size: 48px;
    position: absolute;
    left: 83px;
    top: 13px;}
     .user_body .user_body_left .nav-tabs>li.five:before{font-family: FontAwesome;
    content:"\f059";
    color: #fff;
    font-size: 48px;
    position: absolute;
    left: 83px;
    top: 13px;}
     .user_body .user_body_left .nav-tabs>li.six:before{font-family: FontAwesome;
    content: "\f013";
    color: #fff;
    font-size: 48px;
    position: absolute;
    left: 83px;
    top: 13px;}
.user_content{display: inline-block;width: 100%;}
.user_content{padding:40px;}
.Pos_abs_tab{    height: 100%;
    position: absolute;
    right: 0;
    background:rgba(0,0,0,0.3);}
.user_body .tab-content input,
.user_body .tab-content textarea{    color: #333;}
/* user dashbaord css ends here */
@media (max-width: 768px){
  .logo{
        margin-top: 15px;
  }
  .stuhead_wel_txt{
    font-size: 12px;
  }
  .profile-pic{
    max-width: 100%;
  }
  .left_wrap1{
    padding:0 15px !important;
  }
}

@media (max-width:321px){
.user_header{height:auto;max-height:initial;}
.user_body .user_body_left .nav-tabs>li.one:before,
.user_body .user_body_left .nav-tabs>li.two:before,
.user_body .user_body_left .nav-tabs>li.three:before,
.user_body .user_body_left .nav-tabs>li.four:before,
.user_body .user_body_left .nav-tabs>li.five:before,
.user_body .user_body_left .nav-tabs>li.six:before{left:20px;font-size: 40px;}
.user_content {
    padding: 5px 10px;
}
.adm_inputs_wrap{margin:0;}
.user_header div+div{max-height:110px;}
.user_header div+div+div{max-height:78px;}
}




@media only screen and (min-device-width: 322px) and (max-device-height:568px){
.user_header div+div{max-height: 83px;}
.user_header div+div+div{max-height:78px;}
.user_content {
    padding:0px 20px;
}
.user_header{
  height:auto;max-height:initial;
}
.signin-btn{margin-top: 10px;}
.user_body .user_body_left .nav-tabs>li.one:before,
.user_body .user_body_left .nav-tabs>li.two:before,
.user_body .user_body_left .nav-tabs>li.three:before,
.user_body .user_body_left .nav-tabs>li.four:before,
.user_body .user_body_left .nav-tabs>li.five:before,
.user_body .user_body_left .nav-tabs>li.six:before{display: none;}
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
.user_body .user_body_left .nav-tabs>li.one:before,
.user_body .user_body_left .nav-tabs>li.two:before,
.user_body .user_body_left .nav-tabs>li.three:before,
.user_body .user_body_left .nav-tabs>li.four:before,
.user_body .user_body_left .nav-tabs>li.five:before,
.user_body .user_body_left .nav-tabs>li.six:before{left: 63px;}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
.user_inp_section{padding: 8.5px 20px;}
.user_body .user_body_left .nav-tabs>li.one:before,
.user_body .user_body_left .nav-tabs>li.two:before,
.user_body .user_body_left .nav-tabs>li.three:before,
.user_body .user_body_left .nav-tabs>li.four:before,
.user_body .user_body_left .nav-tabs>li.five:before,
.user_body .user_body_left .nav-tabs>li.six:before{left:75px;}
}